<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>{{.Title}}</title>
    <meta content="{{.Description}}" name="description" />

    <meta content="{{.Keywords}}" name="keywords" />

    <!-- Favicons -->
    <link href="/assets/img/favicon.png" rel="icon" />
    <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="/assets/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="/assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="/assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      href="/assets/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link href="/assets/vendor/remixicon/remixicon.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="/assets/css/style.css" rel="stylesheet" />
  </head>

  <body>
    <!-- ======= Hero Section ======= -->
    {{ with .Params.hero_section}} {{ if .enable }}
    <section id="hero" class="hero d-flex align-items-center">
      <div class="container">
        <div class="row">
          <div class="col-lg-7 d-flex flex-column justify-content-center">
            <h1 data-aos="fade-up">{{ .title | markdownify }}</h1>
            <h2 data-aos="fade-up" data-aos-delay="400">
              {{ .content | markdownify }}
            </h2>
            <div data-aos="fade-up" data-aos-delay="600">
              {{ with .button }}
              <div class="text-center text-lg-start">
                <a
                  href="{{ .link | relURL }}"
                  target="_blank"
                  class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center"
                >
                  <span>{{ .label }}</span>
                  <i class="bi bi-arrow-right"></i>
                </a>
              </div>
              {{end}}
            </div>
          </div>
          <div
            class="col-lg-5 hero-img"
            data-aos="zoom-out"
            data-aos-delay="200"
          >
            <img
              src="/assets/img/{{ .hero_image | markdownify }}"
              class="img-fluid"
              alt=""
            />
          </div>
        </div>
      </div>
    </section>
    {{ end }} {{ end }}
    <!-- End Hero -->

    <main id="main">
      <!-- ======= Logo Section ======= -->
      {{ with .Params.logo_section}} {{ if .enable }}
      <section class="clients">
        <div class="container" data-aos="fade-up">
          <div class="row align-items-center">
            {{ range .logo}}
            <div class="col-md-4">
              <img src="/assets/img/{{.}}" class="img-fluid" alt="" />
            </div>
            {{end}}
          </div>
        </div>
      </section>
      {{ end }} {{ end }}
      <!-- End Clients Section -->

      {{ with .Params.methodology_and_result_section}} {{ if .enable }}
      <!-- ======= methodology_and_result_sectiont Section ======= -->
      <section class="methodology_and_result_section section-bg">
        <div class="container" data-aos="fade-up">
          <div class="row gx-0">
            {{ range .sections}}
            <div
              class="col-lg-6 d-flex flex-column justify-content-start"
              data-aos="fade-up"
              data-aos-delay="200"
            >
              <div class="content">
                <img src="/assets/img/{{.icon}}" alt="" />
                <h3><strong>{{.title}}</strong></h3>

                <p>{{.content | safeHTML}}</p>
              </div>
            </div>
            {{end}}
          </div>
        </div>
      </section>
      {{ end }} {{ end }}
      <!-- End methodology_and_result_section Section -->

      <!-- ======= F.A.Q Section ======= -->
      {{ with .Params.information_section}} {{ if .enable }}

      <section id="faq" class="faq">
        <div class="container" data-aos="fade-up">
          <div class="row align-items-center">
            <div class="col-lg-5">
              <img
                src="/assets/img/{{.image | markdownify}}"
                class="img-fluid p-3"
                alt=""
              />
            </div>

            <div class="col-lg-7">
              <header class="section-header">
                <h2>{{.title | markdownify}}</h2>
              </header>
              <!-- F.A.Q List 2-->
              <div class="accordion accordion-flush" id="faqlist2">
                {{ range.q_and_a}}
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button
                      class="accordion-button collapsed"
                      type="button"
                      data-bs-toggle="collapse"
                      data-bs-target="#faq2-content-{{ .class }}"
                    >
                      <i class="bi bi-question-circle"></i>
                      {{.title}}
                    </button>
                  </h2>
                  <div
                    id="faq2-content-{{ .class }}"
                    class="accordion-collapse collapse"
                    data-bs-parent="#faqlist2"
                  >
                    <div class="accordion-body">{{.content}}</div>
                  </div>
                </div>
                {{end}}
              </div>
            </div>
          </div>
        </div>
      </section>
      {{ end }} {{ end }}
      <!-- End F.A.Q Section -->

      <!-- ======= participation Section ======= -->
      {{ with .Params.participation_section}} {{ if .enable }}
      <section class="participation_section section-bg">
        <div class="container" data-aos="fade-up">
          <div class="row align-items-center">
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
              <img
                src="/assets/img/{{.image | markdownify}}"
                class="img-fluid"
                alt=""
              />
            </div>

            <div
              class="col-lg-6 mt-4 mt-lg-0"
              data-aos="fade-up"
              data-aos-delay="400"
            >
              <div class="box">
                <div class="icon">
                  <img src="/assets/img/{{.icon | markdownify}}" alt="Icon" />
                </div>
                <h3>{{.title | markdownify}}</h3>
                <p>{{.content| markdownify}}</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      {{ end }} {{ end }}
      <!-- End participation Section -->

      <!-- ======= Executing Section ======= -->
      {{ with .Params.executing_section}} {{ if .enable }}
      <section class="participation_section">
        <div class="container" data-aos="fade-up">
          <div class="row align-items-center">
            <div
              class="col-lg-6 mt-4 mt-lg-0"
              data-aos="fade-up"
              data-aos-delay="400"
            >
              <div class="box">
                <div class="icon">
                  <img src="/assets/img/{{.icon | markdownify}}" alt="Icon" />
                </div>
                <h3>{{.title | markdownify}}</h3>
                <p>{{.content| markdownify}}</p>
                <br />
                {{ with.executing_bottom }}
                <h3>{{.title | markdownify}}</h3>
                <p>{{.content| safeHTML}}</p>

                {{end}}
              </div>
            </div>
            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
              <img
                src="/assets/img/{{.image | markdownify}}"
                class="img-fluid"
                alt=""
              />
            </div>
          </div>
        </div>
      </section>
      {{ end }} {{ end }}
      <!-- End Executing Section -->

      {{ with .Params.impressum_section}}
      <!-- ======= Contact Section ======= -->
      <section class="contact section-bg">
        <div class="container" data-aos="fade-up">
          <header class="section-header">
            <h2>{{.title}}</h2>
            <p>{{.sub_title}}</p>
          </header>

          <div class="row gy-4">
            <div class="col-lg-6">
              <div class="row gy-4">
                <div class="col-md-4">
                  <div class="info-box">
                    <img
                      src="/assets/img/contact-location.svg"
                      alt=""
                      class="img-fluid"
                    />
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="info-box">
                    <p>{{.address | safeHTML}}</p>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="info-box">
                    <img
                      src="/assets/img/contact-email.svg"
                      alt=""
                      class="img-fluid"
                    />
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="info-box">
                    <p><strong>Tel</strong> {{.tel | safeHTML}}</p>
                    <p><strong>Fax</strong> {{.fax | safeHTML}}</p>
                    <p><strong>E-mail</strong> {{.email | safeHTML}}</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <img
                src="/assets/img/{{ .image | safeHTML}}"
                class="img-fluid"
                alt=""
              />
            </div>
          </div>
        </div>
      </section>
      {{ end }}
      <!-- End Contact Section -->
    </main>
    <!-- End #main -->

    <!-- ======= modal Section======= -->
    <section class="btn-modal">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12 text-center">
            <button type="button" class="btn btn-primary">
              <a href="/">DE</a>
            </button>
            <!-- Button trigger modal -->
            <button
              type="button"
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#staticBackdrop"
            >
              Privacy
            </button>
            <button
              type="button"
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#term"
            >
              Important terms
            </button>
            {{ partial "terms.html"}} {{ partial "privacy.html"}}
          </div>
        </div>
      </div>
    </section>
    <!-- End modal Section-->

    <!-- ======= FooterSection======= -->
    {{ with .Params.footer}}
    <footer id="footer" class="footer">
      <div class="container">
        <div class="copyright">{{ .text}}</div>
      </div>
    </footer>
    {{ end }}

    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>
    <!-- End footer Section-->

    <!-- Vendor JS Files -->
    <script src="/assets/vendor/aos/aos.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>

    <!-- Template Main JS File -->
    <script src="/assets/js/main.js"></script>
  </body>
</html>
