<!-- Modal -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Privacy</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body text-start">
        <p>
          The IAB job survey is carried out nationwide by the Economix Research
          & Consulting Institute on behalf of the Institute for Employment
          Research (IAB), the research institution of the Federal Employment
          Agency (BA). The legal basis for this is § 282 Abs. 5 SGB III. It is a
          written main survey and three possible telephone follow-up surveys. TM
          Quadrat GmbH acts as a service provider for the short follow-up
          surveys in the first three quarters of the following year. All
          participating institutes bear the responsibility under data protection
          law and work in accordance with the extensive legal provisions on data
          protection.
        </p>
        <h3>Origin of addresses</h3>
        <p>
          The following information is transmitted to the Economix survey
          institute: name and address of the company, company number, number of
          employees subject to social security contributions as of 31.12. of the
          previous year, industry identifiers and existing contact information
          of a contact person. The legal basis for this is Article 28 GDPR.
        </p>
        <h3>What happens to your data?</h3>
        <p>
          After you have returned the completed questionnaire to us, Economix
          will separate it from your address. This remains with Economix until
          the end of the investigation and is then deleted. Of course, this also
          applies if you answer the questionnaire online. The information
          provided by all companies is processed anonymously in a large data set
          in which it is combined with information that is already available at
          the Federal Employment Agency about the company. The merging takes
          place exclusively via an anonymous code number, i.e. without name and
          address.
        </p>
        <p>
          This data set is then evaluated at the IAB for scientific purposes. In
          principle, the following applies: None of the scientists is able to
          recognize from which company which information originates, address
          information is not accessible to them. The presentation of all results
          is completely anonymous. This means that no one can see from the
          results what answers individual companies or administrations have
          given. This also applies to the short telephone repeat surveys in the
          first three quarters of the following year. The identification of
          individual companies or administrations is also not possible here.
        </p>
        <h3>Voluntary participation</h3>
        <p>
          Your participation is of course voluntary, and you have the right to
          withdraw your participation at any time. In the event of
          non-participation or revocation, you will not incur any disadvantages.
          The revocation does not affect the previous processing.
        </p>
        <h3>Your rights and our guarantees</h3>
        <p>
          You can assert the following rights with regard to your survey data at
          any time:
        </p>
        <ul>
          <li><p>Right</p></li>
          <li><p>Right to rectification</p></li>
          <li><p>Right to restriction of processing</p></li>
          <li><p>Right to erasure</p></li>
        </ul>
        <p>
          In case of complaints, you can also contact the responsible data
          protection supervisory authority. The research institutes involved in
          this project guarantee you:
        </p>
        <ul>
          <li>
            <p>Your information will only be evaluated in anonymous form;</p>
          </li>
          <li>
            <p>
              the address of your company will in no case be passed on to third
              parties;
            </p>
          </li>
          <li>
            <p>
              the scientists involved in the collection and evaluation are bound
              by data secrecy.
            </p>
          </li>
        </ul>
        <h3>Answer questions about data protection:</h3>
        <p>
          Dr. Ben Kriechel, Head of Survey and Data Protection Officer, Economix
          Research & Consulting <br />
          Lindwurmstraße 9, 80337 Munich. <br />
          Phone: 089 9901566-27
        </p>
        <p>
          Dr. Alexander Kubis, Coordinator IAB Job Survey, Institute for
          Employment Research of the <br />
          Federal Employment Agency, Regensburger Straße 104, 90478 Nuremberg.
          <br />
          Phone: 0911-179-8978 <br />
          Data Protection Officer of the Federal Employment Agency:
          <a href="mailto:zentrale.datenschutz@arbeitsagentur.de"
            >zentrale.datenschutz@arbeitsagentur.de</a
          >
          <br />
          Homepage of the IAB Job Survey:
          <a href="www.iab.de/stellenerhebung">www.iab.de/stellenerhebung</a>
          <br />
        </p>
      </div>
    </div>
  </div>
</div>
