<!-- Modal -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Datenschutz</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body text-start">
        <p>
          Die IAB-Stellenerhebung führt das Institut Economix Research &
          Consulting im Auftrag des Instituts für Arbeits¬markt- und
          Berufsforschung (IAB), der Forschungseinrichtung der Bundesagentur für
          Arbeit (BA), bundes¬weit durch. Rechtsgrundlage hierfür ist § 282 Abs.
          5 SGB III. Es handelt sich um eine schriftliche Haupterhebung und drei
          mögliche telefonische Nach¬befragungen. Als Dienstleister für die
          kurzen Nachbefragungen in den ersten drei Quartalen des Folgejahres
          ist TM Quadrat GmbH tätig. Alle beteiligten Institute tragen die
          datenschutzrechtliche Verantwortung und arbeiten nach den umfänglichen
          gesetz¬lichen Bestimmungen zum Datenschutz.
        </p>
        <h3>Herkunft der Adressen</h3>
        <p>
          An das Erhebungsinstitut Economix werden folgende Informationen
          übermittelt: Name und Adresse des Betriebs, Betriebs¬nummer, Anzahl
          sozialversicherungspflichtig Beschäftigte zum Stichtag 31.12. des
          Vorjahres, Wirtschafts¬zweigkennzeichen und vorhandene
          Kontaktinformationen eines Ansprechpartners. Rechtsgrundlage hierfür
          ist Art. 28 DS-GVO.
        </p>
        <h3>Was passiert mit Ihren Daten?</h3>
        <p>
          Nachdem Sie den ausgefüllten Fragebogen an uns zurückgeschickt haben,
          wird er bei Economix von Ihrer Adresse getrennt. Diese verbleibt bis
          zum Abschluss der Untersuchung bei Economix und wird danach gelöscht.
          Dies gilt selbstverständlich auch, wenn Sie den Fragebogen online
          beantworten. Die Angaben aller Betriebe werden anonym in einem großen
          Datensatz aufbereitet, in dem sie mit Informationen, die bei der
          Bundesagentur für Arbeit über den Betrieb ohnehin vorhanden sind,
          zusammengeführt werden. Die Zusammenführung erfolgt ausschließlich
          über eine anonyme Code-Nummer, also ohne Namen und Adresse.
        </p>
        <p>
          Dieser Datensatz wird anschließend am IAB für wissenschaftliche Zwecke
          ausgewertet. Dabei gilt prinzipiell: Keinem der Wissenschaftler ist es
          möglich zu erkennen, von welchem Betrieb welche Angaben stammen,
          Adressangaben sind ihnen nicht zugänglich. Die Darstellung aller
          Ergebnisse erfolgt vollkommen anonym. Das bedeutet: Niemand kann aus
          den Ergebnissen erkennen, welche Antworten einzelne Betriebe oder
          Verwaltungen gegeben haben. Das gilt auch bei den kurzen telefonischen
          Wiederholungsbefragungen in den ersten drei Quartalen des Folgejahres.
          Die Identifizierung einzelner Betriebe oder Verwaltungen ist auch hier
          nicht möglich.
        </p>
        <h3>Freiwilligkeit der Teilnahme</h3>
        <p>
          Ihre Teilnahme ist selbstverständlich freiwillig, und Sie haben
          jederzeit das Recht, Ihre Teilnahme zu widerrufen. Bei Nicht-Teilnahme
          bzw. durch den Widerruf entstehen Ihnen keine Nachteile. Durch den
          Widerruf bleibt die bisherige Verarbeitung unberührt.
        </p>
        <h3>Ihre Rechte und unsere Garantien</h3>
        <p>
          Sie können im Hinblick auf Ihre Befragungsdaten jederzeit die
          folgenden Rechte geltend machen:
        </p>
        <ul>
          <li><p>Auskunftsrecht</p></li>
          <li><p>Recht auf Berichtigung</p></li>
          <li><p>Recht auf Einschränkung der Verarbeitung</p></li>
          <li><p>Recht auf Löschung</p></li>
        </ul>
        <p>
          Bei Beschwerden können Sie sich auch an die zuständige Datenschutz-
          Aufsichtsbehörde wenden. <br />
          Die an diesem Projekt beteiligten Forschungsinstitute garantieren
          Ihnen:
        </p>
        <ul>
          <li>
            <p>Ihre Angaben werden nur in anonymisierter Form ausgewertet;</p>
          </li>
          <li>
            <p>
              die Anschrift Ihres Betriebes wird in keinem Fall an Dritte
              weitergeleitet;
            </p>
          </li>
          <li>
            <p>
              die mit der Erhebung und Auswertung befassten Wissenschaftler sind
              an das Datengeheimnis gebunden.
            </p>
          </li>
        </ul>
        <h3>Fragen zum Datenschutz beantworten:</h3>
        <p>
          Dr. Ben Kriechel, Head of Survey and Data Protection Officer, Economix
          Research & Consulting <br />
          Lindwurmstraße 9, 80337 Munich. <br />
          Phone: 089 9901566-27
        </p>
        <p>
          Dr. Alexander Kubis, Koordinator IAB-Stellenerhebung, Institut für
          Arbeitsmarkt- und Berufsforschung der <br />
          Bundesagentur für Arbeit, Regensburger Straße 104, 90478 Nürnberg.
          <br />
          Tel.: 0911-179-8978<br />
          Datenschutzbeauftragte der Bundesagentur für Arbeit:
          <a href="mailto:zentrale.datenschutz@arbeitsagentur.de"
            >zentrale.datenschutz@arbeitsagentur.de</a
          >
          <br />
          Homepage der IAB-Stellenerhebung:
          <a href="www.iab.de/stellenerhebung">www.iab.de/stellenerhebung</a>
          <br />
        </p>
      </div>
    </div>
  </div>
</div>
