<!-- Modal -->
<div
  class="modal fade"
  id="term"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Important terms</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body text-start">
        <h3>Level of requirements of the occupations</h3>
        <p>
          The occupation information is recorded according to the Classification
          of Occupations 2010. In addition to the exact job title, this also
          requires information on the level of requirements:
        </p>

        <ol>
          <li>
            <p>
              Positions that usually do not require a formal vocational
              qualification or a maximum of one year of regular vocational
              training correspond to the level of "helper". This also includes
              civil servants in the simple service.
            </p>
          </li>
          <li>
            <p>
              Bodies that have in-depth specialist knowledge, which is usually
              acquired in the context of a 2- to 3-year vocational/technical
              school education, have the level of "specialist". This also
              includes civil servants in the middle service.
            </p>
          </li>
          <li>
            <p>
              Positions requiring complex activities, planning and control
              tasks, specialist knowledge and skills are assigned to the
              "Specialist" level. Usually, activities that require a master
              craftsman/technician training or a bachelor's degree, or civil
              servants in the higher service are included.
            </p>
          </li>
          <li>
            <p>
              Positions for highly specialized activities, e.g. in development,
              research or diagnosis, management and management tasks in large
              companies, which usually require at least 4 years of higher
              education (master's degree, diploma or state examination, etc.) or
              in which civil servants are employed in the higher service,
              correspond to the level "expert".
            </p>
          </li>
        </ol>

        <h3>Employment Agency</h3>
        <p>
          This includes the local agencies of the Federal Employment Agency, the
          working groups between the Federal Agency and the municipalities
          (joint institutions, gE) and the municipal institutions for job
          placement (job center). Private employment agencies, on the other
          hand, are not one of them.
        </p>

        <h3>Employees</h3>
        <p>
          The number of employees includes all those working in your company: in
          addition to the employees and workers, also the owners/
          <br /><br />
          -inside, the family workers, the marginally employed (e.g. mini-jobs)
          and the trainees. In the case of public authorities and state-owned
          enterprises, civil servants and judges must also be counted. There
          must be a direct employment contract with employees. Freelancers,
          employees on loan via temporary work, subsidised employment
          relationships (FAV) and one-euro jobs are not counted.
        </p>

        <h3>Notified body</h3>
        <p>
          A registered position includes unsubsidized employment relationships,
          which are registered by employers to the employment agencies and basic
          security institutions for placement (without seasonal jobs).
        </p>

        <h3>Temporary /temporary work</h3>
        <p>
          Temporary/temporary workers are hired by temporary employment
          companies and loaned to temporary employment companies for a limited
          time. They are therefore not employees or employees subject to social
          security contributions in the company in which they are employed for a
          limited period of time. An employment contract exists between the
          temporary employment agency and the borrowed person.
        </p>
      </div>
    </div>
  </div>
</div>
