<!-- Modal -->
<div
  class="modal fade"
  id="term"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Wichtige Begriffe</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body text-start">
        <h3>Anforderungsniveau der Berufe</h3>
        <p>
          Die Erfassung der Berufsangaben erfolgt nach der Klassifikation der
          Berufe 2010. Dies erfordert neben der exakten Berufsbezeichnung auch
          Angaben zum Anforderungsniveau:
        </p>

        <ol>
          <li>
            <p>
              1. Stellen, die i.d.R. keinen formalen beruflichen
              Bildungsabschluss oder maximal eine einjährige geregelte
              Berufsausbildung erfordern, entsprechen dem Niveau „Helfer“. Auch
              Beamte/Beamtinnen im einfachen Dienst zählen hierzu.
            </p>
          </li>
          <li>
            <p>
              2. Stellen, die fundierte Fachkenntnisse, die üblicherweise im
              Rahmen einer 2- bis 3-jährigen Berufs-/Fachschulausbildung erlangt
              werden, haben das Niveau „Fachkraft“. Auch Beamte/Beamtinnen im
              mittleren Dienst zählen hierzu
            </p>
          </li>
          <li>
            <p>
              3. Stellen, auf denen komplexe Tätigkeiten, Planungs- und
              Kontroll- aufgaben, Spezialkenntnisse und -fertigkeiten
              erforderlich sind, werden dem Niveau „Spezialist“ zugeordnet.
              Üblicherweise zählen Tätigkeiten die eine
              Meister-/Technikerausbildung oder einen Bachelorabschluss
              erfordern, bzw. Beamte/Beamtinnen im gehobenen Dienst dazu.
            </p>
          </li>
          <li>
            <p>
              4. Stellen für hochspezialisierte Tätigkeiten, z.B. in
              Ent-wicklung, Forschung oder Diagnose, Leitungs- und
              Führungs-aufgaben in großen Unternehmen, die üblicherweise eine
              mindestens 4-jährige Hochschulausbildung (Masterabschluss, Diplom
              oder Staatsexamen etc.) voraussetzen oder auf denen
              Beamte/Beamtinnen im höheren Dienst zum Einsatz kommen,
              entsprechen dem Niveau „Experte“.
            </p>
          </li>
        </ol>

        <h3>Arbeitsagentur</h3>
        <p>
          Darunter fassen wir die örtlichen Agenturen der Bundesagentur für
          Arbeit, die Arbeitsgemeinschaften zwischen der Bundesagentur und den
          Kommunen (gemeinsame Einrichtungen, gE) und die kommunalen
          Einrichtungen zur Arbeitsvermittlung (Jobcenter) zusammen. Private
          Arbeitsvermittlungen gehören hingegen nicht dazu.
        </p>

        <h3>Beschäftigte</h3>
        <p>
          Die Zahl der Beschäftigten umfasst alle in Ihrem Betrieb Tätigen:
          neben den Angestellten und Arbeiter/-innen auch die Inhaber/
          <br /><br />
          -innen, die mithelfenden Familienangehörigen, die geringfügig
          Beschäftigten (z.B. Mini-Jobs) und die Auszubildenden. Bei Behörden
          und staatlichen Unternehmen sind auch die Beamte/Beamtinnen und
          Richter/-innen mitzuzählen. Mit abhängig Beschäftigten muss ein
          direkter Arbeitsvertrag bestehen. Freie Mitarbeiter/-innen, entliehene
          Mitarbeiter/-innen über Zeit-/Leiharbeit, geförderte
          Arbeitsverhältnisse (FAV) und Ein-Euro-Jobs werden nicht mitgezählt.
        </p>

        <h3>Gemeldete Stelle</h3>
        <p>
          Eine gemeldete Stelle umfasst ungeförderte
          Beschäftigungs-verhältnisse, welche von Arbeitgebern den
          Arbeitsagenturen und Trägern der Grundsicherung zur Vermittlung
          gemeldet sind (ohne Saisonstellen).
        </p>

        <h3>Zeit-/Leiharbeit</h3>
        <p>
          Zeit-/Leiharbeiter/-innen werden von Betrieben der Zeitarbeit
          eingestellt und an Einsatzbetriebe für eine begrenzte Zeit
          ausgeliehen. Sie gehören damit nicht zu den Beschäftigten oder
          sozialversicherungspflichtig Beschäftigten des Betriebes, in dem sie
          für eine begrenzte Zeit eingesetzt werden. Ein Arbeitsvertrag besteht
          zwischen dem Zeitarbeitsbetrieb und der entliehenen Person.
        </p>
      </div>
    </div>
  </div>
</div>
